body {
    background-color: ghostwhite;
}

header {
    background-color: #e8e8e8;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 20px;
}

footer {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
	padding: 20px;
}

.container {
    width: 100%;
    background-color: ghostwhite;
}

.nav_menu {
    list-style: none;
    margin: 0;
    padding: 5px;
    text-align: center;
    float: left;
    width: 78%;
    margin: 0 auto;
}

.nav_menu li {
    min-width: 8em;
    float: left;
    margin-right: 0.5em;
    text-align: center;
}

.nav_menu li a:link,
.nav_menu li a:visited {
    background-color: aqua;
    display: block;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.2em 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);
}

.nav_menu li a:hover {
    background-color: aquamarine;
    -webkit-transform: scale(2,2);
    -ms-transform: scale(2,2);
    transform: scale(2,2);
}

.nav_menu a {
    display: block;
    width: 80px;
}

.clear {
    clear: both;
}


#logo {
    margin-bottom: 20px;
}

/*#mainBody {
    background-color: grey;
}*/

#welcomeDiv {
    background-color: #e8e8e8;
    float: left;
    width: 70%;
    margin-right: 20px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#newsLetter {
    background-color: #e8e8e8;
    float: left;
    padding: 15px;
    width: 20%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #888888;
}

#leftDiv {
    background-color: lightgray;
    float: left;
    width: 45%;
    height: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#rightDiv {
    background-color: lightgray;
    float: right;
    width: 45%;
    height: 500px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px #888888;
}