#html5-progressBar {
    width: 20%
}

#css3-progressBar {
    width: 20%
}

#js-progressBar {
    width: 20%;
}

#php-progressBar {
    width: 20%
}

#microsoft-progressBar {
    width: 20%;
}

#java-progressBar {
    width: 20%
}

#cpp-progressBar {
    width: 20%;
}
#python-progressBar {
    width: 20%;
}

#ae-progressBar {
    width: 20%
}

#ps-progressBar {
    width: 20%;
}

#ai-progressBar {
    width: 20%
}

#leadership-progressBar {
    width: 20%;
}

#speaking-progressBar {
    width: 20%
}
